# Ignore Gradle project-specific cache directory
.gradle
.idea
mochawesome-report/

# Ignore Gradle build output directory
build
/bin/
/node_modules/
/lib/
/package-lock.json

# Ignore Mac Files
*.DS_Store

# Ignore .env Files - SOA tests
.env
*.env

# Ignore local DB files
/database-data/
